@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Madaripur<br />
    Dhaka<br />
    Bangladesh<br />
    Phone: 1234567890 <br />
    Email: abc@test.com
</address>
